
@media screen and (min-width:576px) {
    .carousel-inner {
        display:flex;
    }
    .carousel-item {
        display:block;
        margin-right: 1rem;
        flex: 0 0 calc(100%/3 - 1rem)
    }
}
.img-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Verhältnis */
    background-size: cover;
    background-position: center;
    border-radius: 0.25rem 0.25rem 0 0;
    overflow: hidden;
}
.carousel-inner{
    padding: 1em;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22,22,26,0.18);
    border: thin;
    border-radius: 0;
    overflow: hidden; /* Stellt sicher, dass nichts aus der Card herausragt */
}

.card-content {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Erzeugt ein 16:9 Seitenverhältnis */
    /* Hier könnten weitere Stile folgen */
}

/* Stellen Sie sicher, dass der Inhalt der Card dieses Seitenverhältnis nicht direkt beeinflusst */
.card-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}


.carousel-control-prev, .carousel-control-next {
    width: 5vh;
    height: 5vh;
    background-color: #e1e1e1;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
    opacity: 0.8;
}